.nameSite{
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ededed;
}

.center-h1{
    text-align: center;
}

.linq-button{
    font-size: 20px;
}
.linq-button a:hover{
    color: #a5cdf7;
    text-decoration: none;
}

.footer{
    margin: 60px;
}

.line{
    height:20px;
    width: 100%;
    border-top:1px solid gray;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.headerRightPanel{
    float:right;
}