{% extends 'base.html.twig' %}

{% block title %}Уроки/StudyOn{% endblock %}

{% block body %}
    <h1>Уроки</h1>

    <table class="table">
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.number }} .</td>
                <td> <a href="{{ path('lesson_show', {'id': lesson.id}) }}">{{ lesson.name }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Уроки не найдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
