{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center-h1">Уроки</h1>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <ol>
                    {% for lesson in lessons %}
                        <li><a href="{{ path('lesson_show', {'id': lesson.id}) }}">{{ lesson.name }}</a></li>
                    {% else %}
                        Уроки не найдены
                    {% endfor %}
                </ol>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
